@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./styles/header";
@import "./styles/footer";
@import "./styles/product";
@import "./styles/modal";

:root {
  --main-color: #0f52ba;
  --grey-color: #eeeeee;
  --dark-grey-color: #373737;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
